<div class="mb-3">
    <label for="listName" class="form-label">Grocery List Name:</label>
    <input type="text" id="listName" name="listName" class="form-control" required>
</div>

<!-- Image -->
<div class="mb-3">
    <label for="imageFile" class="form-label">List Thumbnail:</label>
    <input class="form-control" type="file" id="imageFile" name="imageFile" accept="image/*" required>
</div>

<!-- Description -->
<div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <textarea class="form-control" name="description" id="description" rows="4" required></textarea>
</div>

<!-- Items -->
<div id="groceryItemsContainer" class="flex">
    <div>
        <label class="form-label">Grocery Items: (Quantity / Name)</label>
    </div>
    
    <div class="mb-2">
        <button type="button" class="btn btn-success" id="addGroceryItemButton">Add Grocery Item
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
            </svg>
        </button>
    </div>

    <div class="input-group mb-2">
        <input type="number" name="groceryItemQuantities[]" class="form-control" required>
        <input type="text" name="groceryItemNames[]" class="form-control" required>
        <button type="button" class="btn btn-danger removeGroceryItemButton" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                viewBox="0 0 16 16">
                <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            </svg>
        </button>
    </div>
</div>
