<header class="mx-4">
    <div class="navbar">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <img src="/images/MeRecipesLogo.png" alt="App Logo" class="img-fluid mb-4" style="max-width: 150px;">
        </a>
        <a href="/recipe/list" class="navbar-brand d-flex align-items-center link-opacity-50-hover" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
            </svg>
            <h4 class="display-6 ms-2">
                Grocery Lists
            </h4>
        </a>
    </div>
</header>