<header class="mx-4">
    <div class="navbar">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <h1 class="display-5">
                <strong>MeRecipes</strong>
            </h1>
        </a>
    </div>
</header>