
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Create Recipe</title>
</head>
<body>
    <%- include('../views/partials/homeNav'); %>
    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container-fluid" id="recipes-container">
            </div>
        </div>
    </main>
    <script>
        const recipesData = <%- JSON.stringify(recipes) %>;
    </script>
    <script src="/javascripts/recipeGallery.js"></script>
</body>
</html>